<div class="tag_c cf" style="border-bottom: 1px solid #000;">
    <a class="tag_dq ui-link" href="/#cusBuy">我要找布</a>
    <a class="ui-link" href="/#sellerBuy">我要卖布</a>
    <a class="ui-link" href="/#ucInfo">个人资料</a>
</div>

<div class="tag_c cf" style="border-top: 1px solid #000; margin-top:20px">
	<a class="tag_dq ui-link" href="/#ucCollectedCloth">我的收藏</a>
	<a class="ui-link" href="/#register">注册</a>
	<a class="ui-link" href="/#login">登录</a>
</div>